<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Business Intelligence (BI)">
    <icon>fas:chart-bar fa-fw</icon>
    <menu>
      <menuitem label="Faturamento">
        <action>DashboardFaturamento</action>
        <icon>fas:circle fa-fw</icon>
      </menuitem>
      <menuitem label="Estoque">
        <action>DashboardEstoque</action>
        <icon>fas:circle fa-fw</icon>
      </menuitem>
        <menuitem label="Financeiro">
            <action>DashboardFinanceiro</action>
            <icon>fas:circle fa-fw</icon>
        </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Financeiro">
    <icon>fas:dollar-sign fa-fw</icon>
    <menu>
      <menuitem label="Conferencia de Caixa">
        <action>ConferenciaCaixa</action>
        <icon>fas:circle fa-fw</icon>
      </menuitem>
      <menuitem label="Relatórios Financeiro">
            <icon>fas:circle fa-fw</icon>
          <menu>
              <menuitem label="Relação de Contas">
                  <action>RelacaoDeContas</action>
                  <icon>fas:circle fa-fw</icon>
              </menuitem>
            <menuitem label="DRE Gerencial">
              <action>Dre</action>
              <icon>fas:circle fa-fw</icon>
            </menuitem>
              <menuitem label="Extrato Bancário">
                  <action>ExtratoBancario</action>
                  <icon>fas:circle fa-fw</icon>
              </menuitem>
          </menu>
        </menuitem>
        <menuitem label="Bancos">
            <action>ListarBancos</action>
            <icon>fas:circle fa-fw</icon>
        </menuitem>
        <menuitem label="Planos de Contas">
            <action>ListarPlanos</action>
            <icon>fas:circle fa-fw</icon>
        </menuitem>
      <menuitem label="Fornecedores">
        <icon>fas:industry fa-fw</icon>
        <menu>
          <menuitem label="Listar Fornecedores">
            <action>ListarFornecedores</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Importar Dados">
        <action>ImportFinanceiro</action>
        <icon>fas:circle fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Estoque">
    <icon>fas:warehouse fa-fw</icon>
    <menu>
      <menuitem label="Importar Notas Fiscais Entrada">
        <action>ImportarNotasFiscaisEntrada</action>
        <icon>fas:circle fa-fw</icon>
      </menuitem>
      <menuitem label="Relatórios Estoque">
        <icon>fas:newspaper fa-fw</icon>
        <menu>
          <menuitem label="Relatório de Transferências">
            <action>ListarTransferencias</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Curva ABC">
            <action>CurvaABC</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="COP">
            <action>ReportCop</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Compras por Fornecedor">
            <action>ComprasFornecedor</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Produções Realizadas">
            <action>ProducoesRealizadas</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>

            <menuitem label="Produtos Comprados">
                <action>ListCompras</action>
                <icon>fas:circle fa-fw</icon>
            </menuitem>
          <menuitem label="Extrato Insumo">
            <action>ExtratoInsumo</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Relatório de Balanços">
            <action>ListBalanco</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Consultar Movimentações">
            <action>ListarMovimentacoes</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Relatório de Diferenças">
            <action>RelatorioDiferencas</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Vendas Detalhado">
            <action>VendasDetalhado</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
            <menuitem label="Relatório de Perdas">
                <action>ListarPerdas</action>
                <icon>fas:circle fa-fw</icon>
            </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Produtos">
        <icon>fas:boxes fa-fw</icon>
        <menu>
          <menuitem label="Cadastro de Produtos">
            <action>ProductsList</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Gravar EAN em Lote">
            <action>GravarEan</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Importar Produtos">
            <action>ImportarProdutos</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Importar Insumos">
            <action>ImportarInsumos</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Produtos Compraveis">
            <action>ListCompraveis</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Fichas">
        <icon>fas:list fa-fw</icon>
        <menu>
          <menuitem label="Fichas de Técnicas">
            <action>ListCompositions</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Fichas de Produção">
            <action>ListProductions</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Importar Fichas Técnicas">
            <action>ImportarFichasTecnicas</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Importar Fichas de Produção">
            <action>ImportarProducoes</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Balanco">
        <icon>fas:balance-scale fa-fw</icon>
        <menu>
            <menuitem label="Balanço Manual">
                <action>BalancoManual</action>
                <icon>fas:circle fa-fw</icon>
            </menuitem>
          <menuitem label="Modelos de Balanço">
            <action>CreateBalanco</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>

        </menu>
      </menuitem>
      <menuitem label="Previsão Demanda">
        <icon>fas:database fa-fw</icon>
        <menu>
          <menuitem label="Previsão de Demada - Loja">
            <action>TransferenciaAssitida</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Previsão de Demada - Produção">
            <action>PrevisaoDemanda</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Previsão de Demanda - Extra">
            <action>SolicitacaoInsumos</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Compra">
        <icon>fas:dolly-flatbed fa-fw</icon>
        <menu>
          <menuitem label="Notas de Entrada">
            <action>NotasFiscais</action>
            <icon>far:file-alt fa-fw</icon>
          </menuitem>
          <menuitem label="Previsão de Compras">
            <action>PrevisaoCompras</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Transferências">
        <icon>fas:arrows-alt-h fa-fw</icon>
        <menu>
          <menuitem label="Transferência Manual">
            <action>TransferenciaManual</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Movimentações">
        <icon>fas:external-link-alt fa-fw</icon>
        <menu>
          <menuitem label="Lançar Produção">
            <action>ExecutarProducao</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Aprovação de Movimentações">
            <action>AprovarMovimentacoes</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Ajuste de Saldo">
            <action>AjusteSaldo</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
          <menuitem label="Ajuste de Preço de Custo">
            <action>AjustePrecoCusto</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
            <menuitem label="Lançar Perdas">
                <action>PerdasEstoque</action>
                <icon>fas:circle fa-fw</icon>
            </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Diferenças de Estoque">
        <icon>fas:code fa-fw</icon>
        <menu>
          <menuitem label="Consolidar Diferenças">
            <action>DiferencaEstoque</action>
            <icon>fas:circle fa-fw</icon>
          </menuitem>
        </menu>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Configurar Mobile">
        <action>ConfigMobile</action>
        <icon>fas:mobile-screen-button fa-fw</icon>
      </menuitem>
      <menuitem label="Automação">
        <action>ListarDisparos</action>
        <icon>fas:robot fa-fw</icon>
      </menuitem>
      <menuitem label="Disparos Whatsapp">
        <action>ListarContatos</action>
        <icon>fa:whatsapp fa-fw</icon>
      </menuitem>
      <menuitem label="Modulos">
        <action>SystemProgramList</action>
        <icon>far:file-code fa-fw</icon>
      </menuitem>
      <menuitem label="Estabelecimentos">
        <action>Estabelecimento</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="Grupo de Estabelecimentos">
        <action>GrupoEstabelecimento</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
      <menuitem label="Perfis de Acesso">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <action>SystemMenuEditor</action>
        <icon>far:edit fa-fw</icon>
      </menuitem>
      <menuitem label="System Information">
        <action>SystemInformationView</action>
        <icon>fas:desktop fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Documents}">
    <icon>far:file-alt fa-fw</icon>
    <menu>
      <menuitem label="_t{Documents}">
        <action>SystemDriveList</action>
        <icon>fas:box fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Categories}">
        <action>SystemDocumentCategoryFormList</action>
        <icon>fas:th fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Posts}">
    <icon>far:newspaper fa-fw</icon>
    <menu>
      <menuitem label="_t{News management}">
        <action>SystemPostList</action>
        <icon>fas:pen-square fa-fw</icon>
      </menuitem>
      <menuitem label="_t{List news}">
        <action>SystemPostFeedView</action>
        <icon>fas:newspaper fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Wiki">
    <icon>fas:globe fa-fw</icon>
    <menu>
      <menuitem label="_t{Page management}">
        <action>SystemWikiList</action>
        <icon>fab fa fa-fw fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Search pages}">
        <action>SystemWikiSearchList</action>
        <icon>fa fa fa-fw fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logs">
    <icon>fas:desktop fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemLogDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Access Log}">
        <action>SystemAccessLogList</action>
        <icon>fas:key fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Change Log}">
        <action>SystemChangeLogView</action>
        <icon>fas:film fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Log}">
        <action>SystemSqlLogList</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Request Log}">
        <action>SystemUnitList</action>
        <icon>fas:globe fa-fw</icon>
      </menuitem>
      <menuitem label="_t{PHP Log}">
        <action>SystemPHPErrorLogView</action>
        <icon>fas:exclamation-triangle fa-fw</icon>
      </menuitem>
      <menuitem label="Session vars">
        <action>SystemSessionVarsView</action>
        <icon>fas:code fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Trocar Estabelecimento">
    <action>MudarFilial</action>
    <icon>fas:university fa-fw</icon>
  </menuitem>
  <menuitem label="Logout">
    <action>LoginForm#method=onLogout#static=1</action>
    <icon>fas:sign-out-alt fa-fw</icon>
  </menuitem>
</menu>
